#logo-container {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-45%, -50%);
}

#loading {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
	-webkit-transition: all .2s;
    transition: all .2s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

/*maybe use keyframes to make it grow before it shrinks*/
.scale-out {
	-ms-transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
}

#lightbulb {
	position: absolute;
	width: 100%;
	max-width: 1080px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

#animation_container {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	max-height: 1080px;
	height: 100%;
	max-width: 1080px;
	width: 100%;
}

.logo_ratio {
  position: relative;
  width: 75%;
  max-width: 700px;
  margin: auto;
  top: 38%;
}

.logo_ratio:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 26.4%;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  white-space: nowrap;
}

.logo-items {
	position: absolute;
}

.letters {
	height: 100%;
	display: inline;
	transform: rotate(-45deg) scale(0,0);
	-webkit-transform: rotate(-45deg) scale(0,0);
	transform-origin: bottom right;
	-webkit-transform-origin: bottom right;
	transition: all .4s;
	-webkit-transition: all .4s;
	-webkit-transition-timing-function: easeInOutQuint;
	transition-timing-function: easeInOutQuint;
}


.letters.active {
	transform: rotate(0deg) scale(1,1);
	-webkit-transform: rotate(0deg) scale(1,1);
	transform-origin: bottom right;
	-webkit-transform-origin: bottom right;
}


#s2 {
	top: 12%;
	left: 55%;
	width: 8%;
}
#s3 {
	top: 13%;
	left: 4%;
	width: 7%;
}

#s4 {
	top: 5.8%;
	left: 28.4%;
	width: 8%;
}

#s5 {
	top: 3.9%;
	left: 77%;
	width: 9.5%;
}

#s6 {
	top: 9.5%;
	left: 33.2%;
	width: 10%;
}

#s7 {
	top: 5.5%;
	left: 83.5%;
	width: 7%;
}

.drag {
	mix-blend-mode: multiply;
	background-color: white;
	display: none;
}

.drag:hover {
	cursor: pointer;
}

#boundaries {
	position: relative;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

